.container {
  border: 2px solid #007bff;
  border-radius: 8px;
  margin: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.textDiv {
  padding: 20px;
  text-align: left;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.category {
  font-style: italic;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.innerButtonContainer {
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: column;
}

.viewButton {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-right: 5px;
  font-weight: 600;
  cursor: pointer;
}

.viewButton:hover {
  background-color: #3435aa;
}

.removeButton {
  flex: 0.2;
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
  background-color: #f28b82;
  color: white;
  border: none;
  border-right: 5px;
  font-weight: 600;
  cursor: pointer;
  border-bottom-right-radius: 6px;
}

.removeButton:hover {
  background-color: rgb(105, 15, 38);
}

.date {
  margin-top: 10px;
  font-size: 0.8rem;
}
