.container {
  border: 2px solid #007bff;
  border-radius: 8px;
  margin: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.textDiv {
  text-align: left;
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #3435aa;
}
